.search {
  border: 1px solid var(--border-color);
  border-radius: 15px;
  padding: 0.4rem;
  background-color: white;
  opacity: 0.3;
}

.search-input {
  width: 100%;
  outline: none;
}

.search-icon {
  width: 2rem;
  height: 2rem;
}
