.details-container {
  padding: 2rem;

  img {
    border-radius: 8px;
  }
}
.back-btn {
  border-radius: 20px;
  opacity: 0.8;
  color: var(--primary-color);
  cursor: pointer;
  width: 2rem;
  height: 2rem;
}

.add-btn {
  background-color: #356022;
  opacity: 0.8;
  color: #f6eacc;
  cursor: pointer;
  width: 2rem;
  height: auto;

  &.selected {
    background-color: #f6eacc;
    color: #356022;
  }
}
.ingredients-list {
  padding: 1rem;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  background-color: #f6eacc;
  opacity: 0.5
}

.action-btn {
  border-radius: 10px;
  padding: 0.5rem 1rem;
  background-color: #356022;
  opacity: 0.8;
  color: #f6eacc;
  text-align: center;
}
