<!-- TODO display in overlay dialog with animation -->
@if (recipe$ | async; as recipe) {
  <div class="p-8 details-container">
    <!-- TODO add back button   -->
    <h1 class="text-center md:text-left">{{ recipe.strMeal }}</h1>
    <!-- TODO add favorite and to do icon buttons opposite to title   -->
    <div class="flex justify-center md:justify-start">
      <h2 class="details-chips">{{ recipe.strCategory }}</h2>
      <!-- TODO add icon for location -->
      <p class="details-chips">{{ recipe.strArea }}</p>
      <!-- Remove location duplicate     -->
      @if (recipe.strCountry !== recipe.strArea) {
        <p class="details-chips">{{ recipe.strCountry }}</p>
      }
    </div>
    <div class="flex gap-4 md:flex-row flex-col">
      <img src="{{ recipe.strMealThumb }}" alt="{{ recipe.strMeal }}" />
      <div class="ingredients-card">
        <h3>Ingredients</h3>
        <ul>
          @for (ingredient of recipe.ingredients; track ingredient.value) {
            <li>{{ ingredient.measure }} - {{ ingredient.value }}</li>
          }
        </ul>
      </div>
      <p>{{ recipe.strInstructions }}</p>
    </div>
    <div class="flex gap-4">
      <a href="{{ recipe.strYoutube }}" target="_blank" class="btn">Watch Video</a>
      <a href="{{ recipe.strSource }}" target="_blank" class="btn">View Source</a>
    </div>
    <h4>Tags: {{ recipe.strTags }}</h4>
  </div>
} @else {
  @if (error()) {
    <p>{{ error() }}</p>
  } @else {
    Loading...
  }
}
