.details-container {
  padding: 2rem;
}

.recipe-img {
  border-radius: 20px;
  border: 1px solid var(--border-color);
  box-shadow: 0 4px 6px rgb(239, 235, 225);
}

.back-btn {
  color: var(--primary-color);
  cursor: pointer;
  width: 2rem;
  height: 2rem;
}

.add-btn {
  background-color: #356022;
  cursor: pointer;
  width: 2rem;
  height: auto;

  &.selected {
    background-color: #f6eacc;
    color: #356022;
  }
}
.ingredients-list {
  padding: 3rem 1rem;
  border: 1px solid var(--border-color);
  border-radius: 8px;
  background-color: #dda15e;
  box-shadow: 0 4px 6px rgb(239, 235, 225);
  opacity: 0.7
}

.action-btn {
  border-radius: 10px;
  padding: 0.5rem 1rem;
  background-color: #356022;
  opacity: 0.8;
  color: #f6eacc;
  text-align: center;
  font-weight: bold;
}
